<h1>Posts Collection</h1>

<dl>
    <?php foreach ($posts as $post): ?>
        <dt><?= $v->e($post['title']) ?></dt>
        <dd>
            <span><?= $v->e($post['index']) ?></span>
            <p><?= $v->e($post['body']) ?></p>
            <span><?= $v->e($post['author']); ?></span>
        </dd>
    <?php endforeach; ?>
</dl>
